<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="content">
        <p class="header">Sign Up</p>

        <% if (messages.error) { %>
        <div class="alert alert-danger"><%= messages.error %></div>
        <% } %> <% if (messages.success) { %>
        <p class="success"><%= messages.success %></p>
        <% } %>

        <form action="/signup" method="post">
          <input
            type="text"
            name="fullName"
            placeholder="Name"
            class="detail"
          /><br />
          <input
            type="email"
            name="email"
            placeholder="Email"
            class="detail"
          /><br />
          <input
            type="password"
            name="password"
            placeholder="Password"
            class="detail"
          />
          <input
            type="password"
            name="confirmPassword"
            placeholder="Confirm Password"
            class="detail"
          />
          <select name="typeOfUser" class="detail">
            <option value="" disabled selected>Select user type</option>
            <option value="Student">Student</option>
            <option value="Admin">Admin</option></select
          ><br />
          <input value="Sign Up" type="submit" class="btn int" />
        </form>

        <footer>
          <p>
            By continuing, you agree to Pinterest's
            <b>Terms of Service, Privacy policy.</b>
          </p>
          <hr />
          <a href="/">Already on Platform? log in</a>
        </footer>
      </div>
    </div>
  </body>
</html>
