<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/login.css" />
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
  <body>
    <div class="container">
      <div class="content">
        <p class="header">Log in</p>

        <%if(error.length>0){%>

        <p class="error"><%= error%></p>
        <%}%>

        <form action="/" method="post">
          <input
            type="email"
            name="email"
            placeholder="Email"
            class="detail"
          /><br />
          <input
            type="password"
            name="password"
            placeholder="Password"
            class="detail"
          />
          <input value="Log In" type="submit" class="btn int" />
        </form>

        <div class="g-recaptcha" data-sitekey="6LfD_xsqAAAAADAq4KvDG7c-bmKhTZWnypps99TG"></div>

        <footer>
          <p>
            By continuing, you agree to Pinterest's
            <b>Terms of Service, Privacy policy.</b>
          </p>
          <hr />
          <a href="/signup">First time? Sign Up</a>
        </footer>
      </div>
    </div>
  </body>

 
</html>
